.iphone-14-15-pro-max-9-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 932px;
  object-fit: cover;
}
.iphone-14-15-pro-max-9 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 932px;
  overflow: hidden;
}
